@charset "utf-8";

body {
	font-family:"Open Sans","sans-serif";
	font-weight:lighter;
	background-color:#333333;
	background-image:url("img/bg.png");
	color:#ffffff;
}


h1 {
	margin:0px;
	font-size:4em;
	font-weight:normal;
	text-align:center;
	color:#fe9a08;
	text-decoration:underline;
	line-height: 100%;
}

h2{
	display: inline;
	color: white; 
	top:66%;
	font-size: 24px;  
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);
}

h2.previewText {
	position: absolute;
	color: white; 
	top:66%;
	font-size: 24px;  
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);
}

h2.inPageHeader
{
	float:left;
	display: block;
	text-decoration: underline;
	color: white; 
	top:66%;
	font-size: 24px;  
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);

}

h3 {
	margin:0.75em;
	font-size:1em;
	font-weight:normal;
	text-align:center;
	text-decoration:underline;
	color:#fe9a08;
	line-height: 100%;

}

footer {
	font-size:0.5em;
	text-align: center;
	font-style:italic;
}
nav  ul {
	list-style-type:none;
	margin:0em;
	padding:0em;
}
nav li {
	display:inline;
}

nav.topnav *,a:link,a:visited,a:hover,a:active {
	font-size:1.2em;
	text-align:center;
	color:#fe9a08;
	text-decoration:none;
}

nav.topnav ul {
	padding:1em;
}

nav.topnav li {
	padding-left:1em;
	padding-right:1em;
}

div.content {
	background-color:#222222;
	width:70%;
	padding:1em;
	border-radius:1em;
	/*centre align*/
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	
}

.Banner {
	display:block;
	margin-right: auto;
	margin-left: auto;
}

.splash {
	float:right;
	clear:right
}

.demoButton {
	float:center;
}

.previewButton{
	
	position: relative;
	float:left;
	width:30%;
	height:200px;
	margin:1%;
	background-color: white;
}

h2.previewText {
	position: absolute;
	float: left;
	color: white; 
	font-size: 24px;  
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);
}