@charset "utf-8";

body {
	font-family:"Open Sans","sans-serif";
	font-weight:lighter;
	background-color:#333333;
	background-image:url("img/bg.png");
	color:#ffffff;
}

h1 {
	font-size:4em;
	font-weight:normal;
	text-align:center;
	color:#fe9a08;
	text-decoration:underline;
}

nav  ul {
	list-style-type:none;
	margin:0em;
	padding:0em;
}
nav li {
	display:inline;
}

nav.topnav *,a:link,a:visited,a:hover,a:active {
	font-size:1.2em;
	text-align:center;
	color:#fe9a08;
	text-decoration:none;
}

nav.topnav ul {
	padding:1em;
}

nav.topnav li {
	padding-left:1em;
	padding-right:1em;
}

div.content {
	background-color:#222222;
	width:70%;
	padding:1em;
	border-radius:1em;
	/*centre align*/
	margin-left:auto;
	margin-right:auto;
	
}

.splash {
	float:right;
	clear:right
}
